footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    border-top: 3px solid #555;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #f8f8f8;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #00bcd4;
    text-decoration: underline;
}
